In [1]:
import pandas as pd
import glob

In [2]:
files = glob.glob("*.csv")
files

['Salaries_2019.csv',
 'Salaries_2020.csv',
 'Salaries_2021.csv',
 'Salaries_2022.csv',
 'Salaries_2023.csv']

In [6]:
df = pd.DataFrame()

for file in files:
    data = pd.read_csv(file)
    data["file_name"] = file
    df = pd.concat([df, data])

In [8]:
df.head(5)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,file_name
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN,Salaries_2019.csv
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN,Salaries_2019.csv
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN,Salaries_2019.csv
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN,Salaries_2019.csv
4,"5,PATRICK GARDNER,""DEPUTY CHIEF OF DEPARTMENT,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Salaries_2019.csv

In [10]:
df.to_csv("salaries_all.csv", index = False,sep = ",")