In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [3]:
import pandas as pd
import numpy as np

telecom_df = pd.read_csv('telecom_churn.csv')

In [4]:
telecom_df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [6]:
telecom_df.columns

Index(['state', 'account length', 'area code', 'phone number',
       'international plan', 'voice mail plan', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'churn'],
      dtype='object')

Какое среднее значение переменной Total day minutes?

In [7]:
print("Среднее значение переменной Total day minutes - ",telecom_df['total day minutes'].mean())

#округлим значение до двух знаков после запятой
print("Округленное среднее значение переменной Total day minutes - ",round(telecom_df['total day minutes'].mean(),2))
#Round — встроенная функция Python. Ее задача — округлять число с плавающей точкой до той цифры, которую задает пользователь. 
#Если ее не задать, то возвращается ближайшее целое число, ведь значением по умолчанию является 0.

Среднее значение переменной Total day minutes -  179.77509750975094
Округленное среднее значение переменной Total day minutes -  179.78

Сколько времени (в среднем) пользователи которые перешли на услуги другой компании (Churn==1) проводят на телефоне в дневное время?

In [8]:
round(telecom_df[telecom_df['churn']==1]['total day minutes'].mean(),2)

206.91

Какова максимальная продолжительность международных звонков среди постоянных пользователей (Churn == 0), у которых нет международного тарифного плана?

In [9]:
telecom_df[(telecom_df['churn'] == 0) & (telecom_df['international plan'] == 'no')]['total intl minutes'].max()

18.9

Какое значение медианы для количества дневных звонков?

In [10]:
telecom_df['total day calls'].median()

101.0

25-й процентиль переменной "Total Eve Calls" равен 87.0. Дайте интерпретацию этому утверждению.

In [18]:
#необходимо найти 25-Й процентиль
#это можно сделать через функцию percentile (библиотека numpy) - np.percentile(telecom_df['total eve calls'],[25])

#или просто вывести основную описатульную ифнорацию через функцию describe()
telecom_df['total eve calls'].describe()

count    3333.000000
mean      100.114311
std        19.922625
min         0.000000
25%        87.000000
50%       100.000000
75%       114.000000
max       170.000000
Name: total eve calls, dtype: float64

Посчитайте интерквартильный размах для переменной Total night minutes

In [19]:
q1 = np.percentile(telecom_df['total night minutes'],[25]) #первый квартиль
q3 = np.percentile(telecom_df['total night minutes'],[75]) #третий квартиль

#интеквартильный размех
iqr = q3 - q1 
print("Интерквартильный размах для переменной Total night minutes: ",iqr)

Интерквартильный размах для переменной Total night minutes:  [68.3]

При помощи какого метода Pandas можно узнать моду для переменной?

In [21]:
#Функция info() - показывает сведения о датафрейме
#В сведения о датафрейме входит общая информация о нём вроде заголовка, количества значений, типов данных столбцов.
telecom_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB

In [22]:
#Для сортировки датафреймов по значениям столбцов можно воспользоваться функцией df.sort_values:
telecom_df.sort_values('total day calls', ascending=False)

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
1121,MI,91,415,390-7930,no,no,0,154.4,165,26.25,...,121,14.31,239.9,81,10.80,11.7,4,3.16,5,True
468,AZ,86,415,392-2381,no,yes,32,70.9,163,12.05,...,121,14.17,244.9,105,11.02,11.1,5,3.00,3,False
1460,MT,80,415,361-8288,no,no,0,198.1,160,33.68,...,87,13.32,182.1,76,8.19,9.3,3,2.51,3,False
2392,WY,90,510,400-8069,no,no,0,125.4,158,21.32,...,83,22.87,238.6,103,10.74,11.0,7,2.97,1,False
1057,WV,86,415,332-2258,no,yes,38,123.0,158,20.91,...,119,11.38,138.2,103,6.22,13.3,4,3.59,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,NE,82,408,343-2741,no,no,0,185.8,36,31.59,...,134,23.50,192.1,104,8.64,5.7,7,1.54,4,False
1989,MT,124,415,420-5652,no,yes,30,144.5,35,24.57,...,101,22.30,226.5,82,10.19,12.0,7,3.24,2,False
1144,NH,155,408,353-6300,no,no,0,216.7,30,36.84,...,125,12.27,135.3,106,6.09,10.8,1,2.92,2,False
1397,VT,101,510,413-7655,no,no,0,0.0,0,0.00,...,119,16.33,168.8,95,7.60,7.2,4,1.94,1,False
1345,SD,98,415,392-2555,no,no,0,0.0,0,0.00,...,130,13.57,167.1,88,7.52,6.8,1,1.84,4,True

In [23]:
#Вы знаете, что Мо́да — значение во множестве наблюдений, которое встречается наиболее часто.
#еще можно вывести с помощью стандартной функции
telecom_df['total day calls'].mode()

0    102
Name: total day calls, dtype: int64

In [24]:
#А можно использовать и другой функций, которая подсчитает сколько то или иное значение встречается в колонке, альтернативное решение и ответ
#Для того чтобы подсчитать количество значений в конкретном столбце, можно воспользоваться следующей конструкцией:
telecom_df['total day calls'].value_counts()

total day calls
102    78
105    75
95     69
107    69
104    68
       ..
149     1
163     1
30      1
165     1
36      1
Name: count, Length: 119, dtype: int64

In [25]:
#Метод describe дает статистику по числовым столбцам: среднее, максимум и минимум, квартили, стандартное отклонение. 
telecom_df.describe()

,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

Посчитайте размах для переменной Total intl minutes

In [26]:
df_max = telecom_df['total intl minutes'].max()
df_min = telecom_df['total intl minutes'].min()

print('Размах для переменной Total intl minutes', df_max - df_min)

Размах для переменной Total intl minutes 20.0