### Import Pandas

In [7]:
import pandas as pd

### загружаем датафрейм

In [8]:
#загружаем датафрейм
st_df = pd.read_excel("StudentsPerformance9.xlsx")
st_df.head()

,ID,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,1,female,group B,bachelor's degree,standard,none,72%,72%,74%
1,2,female,group C,some college,standard,completed,69%,90%,88%
2,3,female,group B,master's degree,standard,none,90%,95%,93%
3,4,male,group A,associate's degree,free/reduced,none,47%,57%,44%
4,5,male,group C,some college,standard,none,76%,78%,75%

In [9]:
# .info()
st_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1072 entries, 0 to 1071
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           1072 non-null   int64
 1   gender                       1072 non-null   object
 2   race/ethnicity               1072 non-null   object
 3   parental level of education  1072 non-null   object
 4   lunch                        1072 non-null   object
 5   test preparation course      1072 non-null   object
 6   math score                   1072 non-null   object
 7   reading score                1072 non-null   object
 8   writing score                1072 non-null   object
dtypes: int64(1), object(8)
memory usage: 75.5+ KB

In [10]:
#метод .astype("category") для оптимизации
st_df['gender'] = st_df['gender'].astype('category')
st_df['race/ethnicity'] = st_df['race/ethnicity'].astype('category')
st_df['parental level of education'] = st_df['parental level of education'].astype('category')
st_df['lunch'] = st_df['lunch'].astype('category')
st_df['test preparation course'] = st_df['test preparation course'].astype('category')

In [11]:
# .info()
st_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1072 entries, 0 to 1071
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           1072 non-null   int64
 1   gender                       1072 non-null   category
 2   race/ethnicity               1072 non-null   category
 3   parental level of education  1072 non-null   category
 4   lunch                        1072 non-null   category
 5   test preparation course      1072 non-null   category
 6   math score                   1072 non-null   object
 7   reading score                1072 non-null   object
 8   writing score                1072 non-null   object
dtypes: category(5), int64(1), object(3)
memory usage: 39.6+ KB

###  методы для работы с текстом

In [12]:
#буквы в строчные
"COMPLETED".lower()

'completed'

In [13]:
#буквы в ЗАГЛАВНЫЕ
"completed".upper()

'COMPLETED'

In [14]:
#Каждое Слово С Большой Буквы
"bachelor's degree".title()

"Bachelor'S Degree"

In [15]:
# применить напрямую к колонке датафрейма не получится
st_df['gender'].upper()

AttributeError: 'Series' object has no attribute 'upper'

In [16]:
# нужно использовать .str перед методом
st_df['gender'].str.upper()

0       FEMALE
1       FEMALE
2       FEMALE
3         MALE
4         MALE
         ...
1067    FEMALE
1068    FEMALE
1069    FEMALE
1070    FEMALE
1071    FEMALE
Name: gender, Length: 1072, dtype: object

In [17]:
# .str.len() подсчитать количество символов
st_df["gender"].str.len()

0       6
1       6
2       6
3       4
4       4
       ..
1067    6
1068    6
1069    6
1070    6
1071    6
Name: gender, Length: 1072, dtype: int64

###  `.replace()` метод

In [19]:
# .replace() заменяет значение в строке
"completed".replace("c", "C")

'Completed'

In [20]:
# нужно использовать .str перед методом чтобы применить к колонке датафрейма
st_df["race/ethnicity"].str.replace(" ", "_")

0       group_B
1       group_C
2       group_B
3       group_A
4       group_C
         ...
1067    group_D
1068    group_D
1069    group_E
1070    group_D
1071    group_D
Name: race/ethnicity, Length: 1072, dtype: object

In [21]:
len("standard")

8

In [22]:
st_df["lunch"].str.len()

0       11
1       11
2       11
3       15
4       11
        ..
1067    11
1068    11
1069    11
1070    15
1071    11
Name: lunch, Length: 1072, dtype: int64

In [23]:
#заменяем пробелы на пустоту
st_df["lunch"] = st_df["lunch"].str.replace(" ", "")

In [24]:
#вуаля!
st_df["lunch"].str.len()

0        8
1        8
2        8
3       12
4        8
        ..
1067     8
1068     8
1069     8
1070    12
1071     8
Name: lunch, Length: 1072, dtype: int64

In [25]:
st_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1072 entries, 0 to 1071
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           1072 non-null   int64
 1   gender                       1072 non-null   category
 2   race/ethnicity               1072 non-null   category
 3   parental level of education  1072 non-null   category
 4   lunch                        1072 non-null   object
 5   test preparation course      1072 non-null   category
 6   math score                   1072 non-null   object
 7   reading score                1072 non-null   object
 8   writing score                1072 non-null   object
dtypes: category(4), int64(1), object(4)
memory usage: 46.9+ KB

In [26]:
st_df['lunch'] = st_df['lunch'].astype('category')

In [27]:
st_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1072 entries, 0 to 1071
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           1072 non-null   int64
 1   gender                       1072 non-null   category
 2   race/ethnicity               1072 non-null   category
 3   parental level of education  1072 non-null   category
 4   lunch                        1072 non-null   category
 5   test preparation course      1072 non-null   category
 6   math score                   1072 non-null   object
 7   reading score                1072 non-null   object
 8   writing score                1072 non-null   object
dtypes: category(5), int64(1), object(3)
memory usage: 39.6+ KB

In [28]:
st_df.head()

,ID,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,1,female,group B,bachelor's degree,standard,none,72%,72%,74%
1,2,female,group C,some college,standard,completed,69%,90%,88%
2,3,female,group B,master's degree,standard,none,90%,95%,93%
3,4,male,group A,associate's degree,free/reduced,none,47%,57%,44%
4,5,male,group C,some college,standard,none,76%,78%,75%

In [29]:
#удаляем знак % и конвертируем в integer
st_df['math score'] = st_df['math score'].str.replace("%", "").astype('int')
st_df['reading score'] = st_df['reading score'].str.replace("%", "").astype('int')
st_df['writing score'] = st_df['writing score'].str.replace("%", "").astype('int')

In [30]:
st_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1072 entries, 0 to 1071
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           1072 non-null   int64
 1   gender                       1072 non-null   category
 2   race/ethnicity               1072 non-null   category
 3   parental level of education  1072 non-null   category
 4   lunch                        1072 non-null   category
 5   test preparation course      1072 non-null   category
 6   math score                   1072 non-null   int32
 7   reading score                1072 non-null   int32
 8   writing score                1072 non-null   int32
dtypes: category(5), int32(3), int64(1)
memory usage: 27.1 KB

### `.contains()` метод

In [31]:
# .contains() возвращает True/False если указанное значение есть в содержании
st_df["gender"].str.contains("f")

0        True
1        True
2        True
3       False
4       False
        ...
1067     True
1068     True
1069     True
1070     True
1071     True
Name: gender, Length: 1072, dtype: bool

In [32]:
fem = st_df["gender"].str.contains("f")
st_df[fem].head(2)

,ID,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,1,female,group B,bachelor's degree,standard,none,72,72,74
1,2,female,group C,some college,standard,completed,69,90,88

### `.startswith()` метод

In [33]:
# .startswith() возвращает True/False если строка начинается с ...
males = st_df["gender"].str.startswith("f")
st_df[males].head(2)

,ID,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,1,female,group B,bachelor's degree,standard,none,72,72,74
1,2,female,group C,some college,standard,completed,69,90,88

### `.endswith()` метод

In [34]:
# .endswith() возвращает True/False если строка заканчивается на ...
# groupB = st_df["race/ethnicity"].str.endswith("b") # не сработает
groupB = st_df["race/ethnicity"].str.endswith("B")

st_df[groupB].head(2)

,ID,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,1,female,group B,bachelor's degree,standard,none,72,72,74
2,3,female,group B,master's degree,standard,none,90,95,93

In [35]:
# но если добавить .lower() то сработает
# при method chaining - str нужно применить дважды!
groupB = st_df["race/ethnicity"].str.lower().str.endswith("b")

st_df[groupB].head(2)

,ID,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,1,female,group B,bachelor's degree,standard,none,72,72,74
2,3,female,group B,master's degree,standard,none,90,95,93

### `strip( )`, `lstrip( )` и  `rstrip()` методы

In [36]:
#загружаем датафрейм
st_df = pd.read_excel("StudentsPerformance9.xlsx")
#конвертируем в категории
st_df['gender'] = st_df['gender'].astype('category')
st_df['race/ethnicity'] = st_df['race/ethnicity'].astype('category')
st_df['parental level of education'] = st_df['parental level of education'].astype('category')
st_df['lunch'] = st_df['lunch'].astype('category')
st_df['test preparation course'] = st_df['test preparation course'].astype('category')
#убираем %, конвертируем в int
st_df["math score"] = st_df["math score"].str.replace("%", "").astype(int)
st_df["reading score"] = st_df["reading score"].str.replace("%", "").astype(int)
st_df["writing score"] = st_df["writing score"].str.replace("%", "").astype(int)

st_df.head()

,ID,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,1,female,group B,bachelor's degree,standard,none,72,72,74
1,2,female,group C,some college,standard,completed,69,90,88
2,3,female,group B,master's degree,standard,none,90,95,93
3,4,male,group A,associate's degree,free/reduced,none,47,57,44
4,5,male,group C,some college,standard,none,76,78,75

In [37]:
st_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1072 entries, 0 to 1071
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           1072 non-null   int64
 1   gender                       1072 non-null   category
 2   race/ethnicity               1072 non-null   category
 3   parental level of education  1072 non-null   category
 4   lunch                        1072 non-null   category
 5   test preparation course      1072 non-null   category
 6   math score                   1072 non-null   int32
 7   reading score                1072 non-null   int32
 8   writing score                1072 non-null   int32
dtypes: category(5), int32(3), int64(1)
memory usage: 27.1 KB

In [38]:
#пробелы в колонке lunch
st_df["lunch"].str.len()

0       11
1       11
2       11
3       15
4       11
        ..
1067    11
1068    11
1069    11
1070    15
1071    11
Name: lunch, Length: 1072, dtype: int64

In [39]:
# lstrip() удаляет пробелы слева
"   lunch   ".lstrip()

'lunch   '

In [40]:
# rstrip() удаляет пробелы справа
"   lunch   ".rstrip()

'   lunch'

In [41]:
# strip() удаляет пробелы c двух сторон
"   lunch   ".lstrip()

'lunch   '

In [42]:
# удаляем пробелы из колонки lunch и перезаписываем
# "   lunch   ".strip()
st_df["lunch"] = st_df["lunch"].str.strip()

In [43]:
# проверяем
st_df["lunch"].str.len()

0        8
1        8
2        8
3       12
4        8
        ..
1067     8
1068     8
1069     8
1070    12
1071     8
Name: lunch, Length: 1072, dtype: int64

### string методы для названий колонок

In [44]:
# атрибут columns вернет список названий колонок
st_df.columns

Index(['ID', 'gender', 'race/ethnicity', 'parental level of education',
       'lunch', 'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [45]:
st_df.columns.str.upper()

Index(['ID', 'GENDER', 'RACE/ETHNICITY', 'PARENTAL LEVEL OF EDUCATION',
       'LUNCH', 'TEST PREPARATION COURSE', 'MATH SCORE', 'READING SCORE',
       'WRITING SCORE'],
      dtype='object')

In [46]:
st_df.columns.str.lower()

Index(['id', 'gender', 'race/ethnicity', 'parental level of education',
       'lunch', 'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [47]:
st_df.columns = st_df.columns.str.title()
st_df.columns

Index(['Id', 'Gender', 'Race/Ethnicity', 'Parental Level Of Education',
       'Lunch', 'Test Preparation Course', 'Math Score', 'Reading Score',
       'Writing Score'],
      dtype='object')

In [48]:
st_df.columns = st_df.columns.str.replace("/","_or_")
st_df.columns

Index(['Id', 'Gender', 'Race_or_Ethnicity', 'Parental Level Of Education',
       'Lunch', 'Test Preparation Course', 'Math Score', 'Reading Score',
       'Writing Score'],
      dtype='object')

In [49]:
st_df.columns = st_df.columns.str.replace(" ","_")
st_df.columns

Index(['Id', 'Gender', 'Race_or_Ethnicity', 'Parental_Level_Of_Education',
       'Lunch', 'Test_Preparation_Course', 'Math_Score', 'Reading_Score',
       'Writing_Score'],
      dtype='object')

### split методы

In [50]:
#.split() - разбивает строку по разделителю
"Data is booming".split(" ")

['Data', 'is', 'booming']

In [51]:
#.split() - разбиваем колонку по разделителю
st_df["Race_or_Ethnicity"].str.split(" ")

0       [group, B]
1       [group, C]
2       [group, B]
3       [group, A]
4       [group, C]
           ...
1067    [group, D]
1068    [group, D]
1069    [group, E]
1070    [group, D]
1071    [group, D]
Name: Race_or_Ethnicity, Length: 1072, dtype: object

In [52]:
#возвращаем второй элемент методом .get()
st_df["Race_or_Ethnicity"].str.split(" ").str.get(1)

0       B
1       C
2       B
3       A
4       C
       ..
1067    D
1068    D
1069    E
1070    D
1071    D
Name: Race_or_Ethnicity, Length: 1072, dtype: object

In [53]:
#считаем кол-во
st_df["Race_or_Ethnicity"].str.split(" ").str.get(1).value_counts()

Race_or_Ethnicity
C    338
D    282
B    201
E    152
A     99
Name: count, dtype: int64

In [54]:
#можно указать, сколько раз строка будет делиться
"Data is booming Python is booming".split(" ",5)

['Data', 'is', 'booming', 'Python', 'is', 'booming']

In [56]:
#разделяем колонку на 2 и записываем в датафрейм
# st_df[["edu_name", "edu_type"]] = st_df["Parental_Level_Of_Education"].str.split(" ", 1, expand=True)
st_df[["edu_name", "edu_type"]] = st_df["Parental_Level_Of_Education"].str.split(" ", n=1, expand=True)

In [6]:
st_df.head()

,ID,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,edu_name,edu_type
0,1,female,group B,bachelor's degree,standard,none,72%,72%,74%,bachelor's,degree
1,2,female,group C,some college,standard,completed,69%,90%,88%,some,college
2,3,female,group B,master's degree,standard,none,90%,95%,93%,master's,degree
3,4,male,group A,associate's degree,free/reduced,none,47%,57%,44%,associate's,degree
4,5,male,group C,some college,standard,none,76%,78%,75%,some,college

In [57]:
#экспортируем датасет
st_df.to_csv('Mukhanova_StudentsPerformanceCompleted.csv')