In [29]:
import pandas as pd

In [44]:
data = pd.read_excel('sales1.xlsx')
data

   Месяц  Продукт А  Продукт В  Продукт С  Продукт D  Выручка
0      1       1500       2000       1000        500    50000
1      2       2000       2500       1500        750    70000
2      3       3000       3500       2000       1000   100000
3      4       2500       3000       1500       1000    85000

In [45]:
print(data.dtypes)

Месяц        int64
Продукт А    int64
Продукт В    int64
Продукт С    int64
Продукт D    int64
Выручка      int64
dtype: object

In [46]:
#Рассчитаем суммарную выручку компании за период:
profit = data['Выручка'].sum()
print('Суммрная выручка компании:',profit)

Суммрная выручка компании: 305000

In [47]:
# Рассчитываем среднее значение продаж каждого продукта за период
mean_sales = data.mean()

print("Среднее значение продаж каждого продукта за период:")
print(mean_sales)

Среднее значение продаж каждого продукта за период:
Месяц            2.5
Продукт А     2250.0
Продукт В     2750.0
Продукт С     1500.0
Продукт D      812.5
Выручка      76250.0
dtype: float64

In [48]:
mean_sales = data.mean()
print(mean_sales)

Месяц            2.5
Продукт А     2250.0
Продукт В     2750.0
Продукт С     1500.0
Продукт D      812.5
Выручка      76250.0
dtype: float64

In [49]:
# Рассчитываем медиану продаж каждого продукта за период
median_sales = data.median()

print("Медиана продаж каждого продукта за период:")
print(median_sales)

# Рассчитываем моду продаж каждого продукта за период
mode_sales = data.mode().iloc[0]

print("Мода продаж каждого продукта за период:")
print(mode_sales)

Медиана продаж каждого продукта за период:
Месяц            2.5
Продукт А     2250.0
Продукт В     2750.0
Продукт С     1500.0
Продукт D      875.0
Выручка      77500.0
dtype: float64
Мода продаж каждого продукта за период:
Месяц            1.0
Продукт А     1500.0
Продукт В     2000.0
Продукт С     1500.0
Продукт D     1000.0
Выручка      50000.0
Name: 0, dtype: float64

In [50]:
from collections import Counter

def calculate_mode(arr):
    count = Counter(arr)
    freq_dict = dict(count)
    mode = [k for k, v in freq_dict.items() if v == max(list(count.values()))]
    if len(mode) == len(arr):
        return None
    else:
        return mode

In [51]:
#Этот код будет выводить None вместо минимального значения, если мода не определена
for product in data:
    product_sales = data[product]
    product_mode = calculate_mode(product_sales)
    print(f"Мода для продукта {product}: {product_mode}")

Мода для продукта Месяц: None
Мода для продукта Продукт А: None
Мода для продукта Продукт В: None
Мода для продукта Продукт С: [1500]
Мода для продукта Продукт D: [1000]
Мода для продукта Выручка: None

In [52]:
data.mode

<bound method DataFrame.mode of    Месяц  Продукт А  Продукт В  Продукт С  Продукт D  Выручка
0      1       1500       2000       1000        500    50000
1      2       2000       2500       1500        750    70000
2      3       3000       3500       2000       1000   100000
3      4       2500       3000       1500       1000    85000>

In [53]:
import numpy as np

median_a = np.median(data['Продукт А'])
median_b = np.median(data['Продукт В'])
median_c = np.median(data['Продукт С'])
median_d = np.median(data['Продукт D'])

print("Медиана для продукта A:", median_a)
print("Медиана для продукта B:", median_b)
print("Медиана для продукта C:", median_c)
print("Медиана для продукта D:", median_d)

Медиана для продукта A: 2250.0
Медиана для продукта B: 2750.0
Медиана для продукта C: 1500.0
Медиана для продукта D: 875.0