In [1]:
import numpy as np
import pandas as pd
s=pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates=pd.date_range("20230101",periods=6)
dates

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df=pd.DataFrame(np.random.randn(6,4),index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2023-01-01 -0.996541  1.498595  1.743502 -1.200062
2023-01-02  0.122160  0.709673  0.753083  0.760191
2023-01-03 -1.840317  1.450155  1.276351 -1.663998
2023-01-04  0.351089  0.680196  0.748880  1.157890
2023-01-05 -0.099159 -0.836093 -0.110251 -2.003612
2023-01-06  0.122569 -1.238199  0.722888 -0.828614

In [9]:
df2=pd.DataFrame(
    {
        "A":1.0,
        "B":pd.Timestamp("20230101"),
        "C":pd.Series(1,index=list(range(4)),dtype="float32"),
        "D":np.array([3]*4,dtype="int32"),
        "E":pd.Categorical(["test","train","test","train"]),
        "F":"foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2023-01-01  1.0  3   test  foo
1  1.0 2023-01-01  1.0  3  train  foo
2  1.0 2023-01-01  1.0  3   test  foo
3  1.0 2023-01-01  1.0  3  train  foo

In [10]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [13]:
df.head()
df.tail(3)

                   A         B         C         D
2023-01-04  0.351089  0.680196  0.748880  1.157890
2023-01-05 -0.099159 -0.836093 -0.110251 -2.003612
2023-01-06  0.122569 -1.238199  0.722888 -0.828614

In [15]:
df.index
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [17]:
df.to_numpy()

array([[-0.99654078,  1.49859502,  1.74350181, -1.20006187],
       [ 0.12215977,  0.70967282,  0.75308299,  0.76019058],
       [-1.84031744,  1.4501546 ,  1.27635142, -1.66399786],
       [ 0.35108903,  0.68019608,  0.74887999,  1.15789   ],
       [-0.09915883, -0.83609301, -0.11025109, -2.00361242],
       [ 0.12256873, -1.23819861,  0.72288836, -0.82861422]])

In [18]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.390033  0.377388  0.855742 -0.629701
std    0.852074  1.156953  0.622540  1.299966
min   -1.840317 -1.238199 -0.110251 -2.003612
25%   -0.772195 -0.457021  0.729386 -1.548014
50%    0.011500  0.694934  0.750981 -1.014338
75%    0.122466  1.265034  1.145534  0.362989
max    0.351089  1.498595  1.743502  1.157890

In [19]:
df.T

   2023-01-01  2023-01-02  2023-01-03  2023-01-04  2023-01-05  2023-01-06
A   -0.996541    0.122160   -1.840317    0.351089   -0.099159    0.122569
B    1.498595    0.709673    1.450155    0.680196   -0.836093   -1.238199
C    1.743502    0.753083    1.276351    0.748880   -0.110251    0.722888
D   -1.200062    0.760191   -1.663998    1.157890   -2.003612   -0.828614

In [21]:
df.sort_index(axis=1, ascending=False)
df.sort_values(by="B")

                   A         B         C         D
2023-01-06  0.122569 -1.238199  0.722888 -0.828614
2023-01-05 -0.099159 -0.836093 -0.110251 -2.003612
2023-01-04  0.351089  0.680196  0.748880  1.157890
2023-01-02  0.122160  0.709673  0.753083  0.760191
2023-01-03 -1.840317  1.450155  1.276351 -1.663998
2023-01-01 -0.996541  1.498595  1.743502 -1.200062