### Import Pandas

In [1]:
import pandas as pd

In [3]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
     - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
     ---- -------------------------------- 30.7/250.0 kB 262.6 kB/s eta 0:00:01
     --------- --------------------------- 61.4/250.0 kB 363.1 kB/s eta 0:00:01
     ---------------- ------------------- 112.6/250.0 kB 544.7 kB/s eta 0:00:01
     ----------------------- ------------ 163.8/250.0 kB 653.6 kB/s eta 0:00:01
     -------------------------------- --- 225.3/250.0 kB 765.3 kB/s eta 0:00:01
     ------------------------------------ 250.0/250.0 kB 807.2 kB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

### Создаем Series

In [5]:
states = pd.read_excel('states2.xlsx', 
                     usecols=['Abbreviation','State'],
                     index_col=0).squeeze()

states

Abbreviation
UT              Utah
ID             Idaho
ND      North Dakota
TX             Texas
NV            Nevada
CO          Colorado
WA        Washington
FL           Florida
AZ           Arizona
GA           Georgia
OR            Oregon
SC    South Carolina
DE          Delaware
MT           Montana
NC    North Carolina
SD      South Dakota
TN         Tennessee
VA          Virginia
MN         Minnesota
MA     Massachusetts
NE          Nebraska
HI            Hawaii
MD          Maryland
CA        California
NJ        New Jersey
OK          Oklahoma
AL           Alabama
IA              Iowa
IN           Indiana
NH     New Hampshire
NY          New York
RI      Rhode Island
KY          Kentucky
WI         Wisconsin
WV     West Virginia
AR          Arkansas
AK            Alaska
KS            Kansas
LA         Louisiana
MO          Missouri
NM        New Mexico
VT           Vermont
ME             Maine
PA      Pennsylvania
WY           Wyoming
OH              Ohio
MI          Michigan
CT       Connecticut
MS       Mississippi
IL          Illinois
Name: State, dtype: object

### `sort_index()` и  `sort_values()` - сортировка по индексу и значениям

In [6]:
# cортируем по индексу разово, не меняя series 
states.sort_index()

Abbreviation
AK            Alaska
AL           Alabama
AR          Arkansas
AZ           Arizona
CA        California
CO          Colorado
CT       Connecticut
DE          Delaware
FL           Florida
GA           Georgia
HI            Hawaii
IA              Iowa
ID             Idaho
IL          Illinois
IN           Indiana
KS            Kansas
KY          Kentucky
LA         Louisiana
MA     Massachusetts
MD          Maryland
ME             Maine
MI          Michigan
MN         Minnesota
MO          Missouri
MS       Mississippi
MT           Montana
NC    North Carolina
ND      North Dakota
NE          Nebraska
NH     New Hampshire
NJ        New Jersey
NM        New Mexico
NV            Nevada
NY          New York
OH              Ohio
OK          Oklahoma
OR            Oregon
PA      Pennsylvania
RI      Rhode Island
SC    South Carolina
SD      South Dakota
TN         Tennessee
TX             Texas
UT              Utah
VA          Virginia
VT           Vermont
WA        Washington
WI         Wisconsin
WV     West Virginia
WY           Wyoming
Name: State, dtype: object

In [7]:
states

Abbreviation
UT              Utah
ID             Idaho
ND      North Dakota
TX             Texas
NV            Nevada
CO          Colorado
WA        Washington
FL           Florida
AZ           Arizona
GA           Georgia
OR            Oregon
SC    South Carolina
DE          Delaware
MT           Montana
NC    North Carolina
SD      South Dakota
TN         Tennessee
VA          Virginia
MN         Minnesota
MA     Massachusetts
NE          Nebraska
HI            Hawaii
MD          Maryland
CA        California
NJ        New Jersey
OK          Oklahoma
AL           Alabama
IA              Iowa
IN           Indiana
NH     New Hampshire
NY          New York
RI      Rhode Island
KY          Kentucky
WI         Wisconsin
WV     West Virginia
AR          Arkansas
AK            Alaska
KS            Kansas
LA         Louisiana
MO          Missouri
NM        New Mexico
VT           Vermont
ME             Maine
PA      Pennsylvania
WY           Wyoming
OH              Ohio
MI          Michigan
CT       Connecticut
MS       Mississippi
IL          Illinois
Name: State, dtype: object

In [13]:
# cортируем по индексу и сохраняем, меняя series 
states.sort_index(inplace=True)

In [14]:
states

Abbreviation
AK            Alaska
AL           Alabama
AR          Arkansas
AZ           Arizona
CA        California
CO          Colorado
CT       Connecticut
DE          Delaware
FL           Florida
GA           Georgia
HI            Hawaii
IA              Iowa
ID             Idaho
IL          Illinois
IN           Indiana
KS            Kansas
KY          Kentucky
LA         Louisiana
MA     Massachusetts
MD          Maryland
ME             Maine
MI          Michigan
MN         Minnesota
MO          Missouri
MS       Mississippi
MT           Montana
NC    North Carolina
ND      North Dakota
NE          Nebraska
NH     New Hampshire
NJ        New Jersey
NM        New Mexico
NV            Nevada
NY          New York
OH              Ohio
OK          Oklahoma
OR            Oregon
PA      Pennsylvania
RI      Rhode Island
SC    South Carolina
SD      South Dakota
TN         Tennessee
TX             Texas
UT              Utah
VA          Virginia
VT           Vermont
WA        Washington
WI         Wisconsin
WV     West Virginia
WY           Wyoming
Name: State, dtype: object

In [17]:
# cортируем по значениям
states.sort_values(ascending=False).head()

Abbreviation
WY          Wyoming
WI        Wisconsin
WV    West Virginia
WA       Washington
VA         Virginia
Name: State, dtype: object

### `get()` метод

In [23]:
#get() по индексу
states.get(0)

C:\Users\amukh\AppData\Local\Temp\ipykernel_23452\4155007091.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  states.get(0)

'Alaska'

In [24]:
#get() по label
states.get("AK")

'Alaska'

In [26]:
#get() по индексу который не существует - ничего, то есть None по умолчанию
print(states.get("BBB"))

None

In [28]:
# вы можете изменить значение по умолчанию на что-то другое
states.get("BBB",default = "index not exists")

'index not exists'

### математические методы

In [3]:
import pandas as pd

In [4]:
#данные по населению
density = pd.read_excel('states2.xlsx', usecols=['density']).squeeze()
density

0       41.0510
1       22.9107
2       11.5997
3      114.6318
4       29.0162
5       57.1450
6      118.8971
7      411.8520
8       64.2939
9      189.8138
10      44.9899
11     173.5484
12     517.3679
13       7.5796
14     218.4411
15      11.8870
16     170.3356
17     221.7642
18      72.6765
19     913.6378
20      25.8843
21     229.5290
22     644.6851
23     256.7424
24    1276.6405
25      58.3272
26     100.1715
27      57.6324
28     191.0868
29     155.2263
30     432.1580
31    1069.9623
32     114.9554
33     109.5879
34      74.1268
35      58.2425
36       1.2933
37      36.1408
38     108.3842
39      90.0194
40      17.5534
41      70.1470
42      44.3912
43     291.9510
44       5.9685
45     290.0574
46     178.9220
47     746.0376
48      63.0837
49     230.7117
Name: density, dtype: float64

In [27]:
#len() возвращает кол-во строк, включая нули
len(density)

50

In [28]:
#count() возвращает кол-во строк, исключая нули
density.count()

50

In [7]:
#минимум и максимум
print(density.min(),density.max())

1.2933 1276.6405

In [8]:
#индексы значений, которые являются минимумом и максимумом
print(density.idxmin(),density.idxmax())

36 24

In [9]:
#двух зайцев сразу
density[density.idxmin()]

1.2933

In [10]:
#среднее
density.mean()

208.86117599999997

In [11]:
#стандартное отклонение
density.std()

277.7318898084152

In [12]:
#медиана
density.median()

108.98605

In [17]:
#мода
#density.mode()
s = pd.Series([1,2,3,4,5,6,7,7,7])
s.mode()

0    7
dtype: int64

In [18]:
#describe()
density.describe()

count      50.000000
mean      208.861176
std       277.731890
min         1.293300
25%        48.028675
50%       108.986050
75%       227.587800
max      1276.640500
Name: density, dtype: float64

In [21]:
#абсолютное значение
#density.abs()
s = pd.Series([-1,-2,-3,-4,-5,-6,-7,7,7])
s.abs()

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    7
8    7
dtype: int64

In [22]:
density.head()

0     41.0510
1     22.9107
2     11.5997
3    114.6318
4     29.0162
Name: density, dtype: float64

In [23]:
#add() прибавляет число к каждому элементу серии
density.add(100).head()

0    141.0510
1    122.9107
2    111.5997
3    214.6318
4    129.0162
Name: density, dtype: float64

In [24]:
#sub() отнимает число от каждого элемента серии
density.sub(10).head()

0     31.0510
1     12.9107
2      1.5997
3    104.6318
4     19.0162
Name: density, dtype: float64

In [25]:
#div() делит на число каждый элемент серии
density.div(10).head()

0     4.10510
1     2.29107
2     1.15997
3    11.46318
4     2.90162
Name: density, dtype: float64

In [26]:
#floordiv() делит на число каждый элемент серии, возвращая только целую часть
density.floordiv(10).head()

0     4.0
1     2.0
2     1.0
3    11.0
4     2.0
Name: density, dtype: float64

### другие методы и атрибуты

In [34]:
#загружаем данные, students performance
st = pd.read_csv('StudentsPerformance.csv', usecols=['race/ethnicity']).squeeze()
st

0      group B
1      group C
2      group B
3      group A
4      group C
        ...
995    group E
996    group C
997    group C
998    group D
999    group D
Name: race/ethnicity, Length: 1000, dtype: object

In [36]:
# возвращает True, если дубликаты не найдены
st.is_unique

False

In [38]:
nums = pd.Series([1,2,3,4,5])
nums.is_unique

True

In [39]:
#кол-во уникальных значений в каждой группе
st.value_counts()

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

In [41]:
#кол-во уникальных значений в каждой группе, сортировка по возрастанию
st.value_counts(ascending = True)

race/ethnicity
group A     89
group E    140
group B    190
group D    262
group C    319
Name: count, dtype: int64

In [44]:
#сумма уникальных значений во всех группах...
st.value_counts(ascending = True).sum()

1000

In [46]:
# атрибут ndim возвращает количество измерений
st.ndim
pd.read_csv('StudentsPerformance.csv').ndim

2

In [47]:
# атрибут shape возвращает количество строк и колонок
st.shape

(1000,)

In [48]:
pd.read_csv('studentsperformance.csv').shape

(1000, 8)

In [50]:
# атрибут size возвращает количество элементов, включая null
st.size

1000

In [49]:
# атрибут name возвращает название 
st.name

'race/ethnicity'

### `apply()` метод

In [51]:
# продолжаем работу с плотностью населения
density.describe()

count      50.000000
mean      208.861176
std       277.731890
min         1.293300
25%        48.028675
50%       108.986050
75%       227.587800
max      1276.640500
Name: density, dtype: float64

In [52]:
#создаем функцию density_type()
def density_type(num):
    if num < 50:
        return "низкая плотность населения"
    elif num >= 50 and num < 230:
        return "средняя плотность населения"
    else:
        return "высокая плотность населения"
    
density_type(300)

'высокая плотность населения'

In [53]:
# apply() метод позволяет применить функцию к каждому элементу серии
density_types = density.apply(density_type)
density_types.head(10)

0     низкая плотность населения
1     низкая плотность населения
2     низкая плотность населения
3    средняя плотность населения
4     низкая плотность населения
5    средняя плотность населения
6    средняя плотность населения
7    высокая плотность населения
8    средняя плотность населения
9    средняя плотность населения
Name: density, dtype: object

In [54]:
# apply() метод c lambda - применяем действие к каждому элементу серии, 
# без написания отдельной функции
density.apply(lambda density:density*100)

0       4105.10
1       2291.07
2       1159.97
3      11463.18
4       2901.62
5       5714.50
6      11889.71
7      41185.20
8       6429.39
9      18981.38
10      4498.99
11     17354.84
12     51736.79
13       757.96
14     21844.11
15      1188.70
16     17033.56
17     22176.42
18      7267.65
19     91363.78
20      2588.43
21     22952.90
22     64468.51
23     25674.24
24    127664.05
25      5832.72
26     10017.15
27      5763.24
28     19108.68
29     15522.63
30     43215.80
31    106996.23
32     11495.54
33     10958.79
34      7412.68
35      5824.25
36       129.33
37      3614.08
38     10838.42
39      9001.94
40      1755.34
41      7014.70
42      4439.12
43     29195.10
44       596.85
45     29005.74
46     17892.20
47     74603.76
48      6308.37
49     23071.17
Name: density, dtype: float64