In [2]:
import pandas as pd

In [5]:
df=pd.read_csv('/Users/atyra/OneDrive/Desktop/Python/week3/StudentsPerformance.csv',sep=',')
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [6]:
selected_data = df.iloc[1:2]
print(selected_data)

   gender race/ethnicity parental level of education     lunch  \
1  female        group C                some college  standard

  test preparation course  math score  reading score  writing score
1               completed          69             90             88

In [8]:
selected_data = df.iloc[:5, [0, 1]]
print(selected_data)

   gender race/ethnicity
0  female        group B
1  female        group C
2  female        group B
3    male        group A
4    male        group C

In [7]:
selected_data = df.iloc[:10, [0, 1]]
print(selected_data)

   gender race/ethnicity
0  female        group B
1  female        group C
2  female        group B
3    male        group A
4    male        group C
5  female        group B
6  female        group B
7    male        group B
8    male        group D
9  female        group B

In [9]:
print(df[0:20])

    gender race/ethnicity parental level of education         lunch  \
0   female        group B           bachelor's degree      standard
1   female        group C                some college      standard
2   female        group B             master's degree      standard
3     male        group A          associate's degree  free/reduced
4     male        group C                some college      standard
5   female        group B          associate's degree      standard
6   female        group B                some college      standard
7     male        group B                some college  free/reduced
8     male        group D                 high school  free/reduced
9   female        group B                 high school  free/reduced
10    male        group C          associate's degree      standard
11    male        group D          associate's degree      standard
12  female        group B                 high school      standard
13    male        group A                some college      standard
14  female        group A             master's degree      standard
15  female        group C            some high school      standard
16    male        group C                 high school      standard
17  female        group B            some high school  free/reduced
18    male        group C             master's degree  free/reduced
19  female        group C          associate's degree  free/reduced

   test preparation course  math score  reading score  writing score
0                     none          72             72             74
1                completed          69             90             88
2                     none          90             95             93
3                     none          47             57             44
4                     none          76             78             75
5                     none          71             83             78
6                completed          88             95             92
7                     none          40             43             39
8                completed          64             64             67
9                     none          38             60             50
10                    none          58             54             52
11                    none          40             52             43
12                    none          65             81             73
13               completed          78             72             70
14                    none          50             53             58
15                    none          69             75             78
16                    none          88             89             86
17                    none          18             32             28
18               completed          46             42             46
19                    none          54             58             61

In [10]:
selected_data = df.loc[:, ["gender", "math score"]]
print(selected_data)

     gender  math score
0    female          72
1    female          69
2    female          90
3      male          47
4      male          76
..      ...         ...
995  female          88
996    male          62
997  female          59
998  female          68
999  female          77

[1000 rows x 2 columns]

In [11]:
selected_data = df.loc[df.index[:5], ["gender", "math score"]]
print(selected_data)

   gender  math score
0  female          72
1  female          69
2  female          90
3    male          47
4    male          76