In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
student_df = pd.read_csv('StudentsPerformance.csv')
print(student_df)

     gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]

In [4]:
np.mean(student_df['math score'])

66.089

In [5]:
# чтобы найти дисперсию
# находим разницу между каждым значением и средним 
# возводим в квадрат
# суммиреум и делим на ко-во наблюдений

distance = student_df['math score']- np.mean(student_df['math score'])
print(distance)

0       5.911
1       2.911
2      23.911
3     -19.089
4       9.911
        ...
995    21.911
996    -4.089
997    -7.089
998     1.911
999    10.911
Name: math score, Length: 1000, dtype: float64

In [6]:
squared_distance = distance**2
print(squared_distance)

0       34.939921
1        8.473921
2      571.735921
3      364.389921
4       98.227921
          ...
995    480.091921
996     16.719921
997     50.253921
998      3.651921
999    119.049921
Name: math score, Length: 1000, dtype: float64

In [7]:
sum_squared_distance = np.sum(squared_distance)
print("sum_squared_distance =",sum_squared_distance)

sum_squared_distance = 229689.07899999997

In [8]:
variance = sum_squared_distance/(student_df['math score'].count()-1)
print("count - 1=",student_df['math score'].count()-1)
print("variance=",variance)

count - 1= 999
variance= 229.91899799799796

In [9]:
# чтобы найти дисперсию
# находим разницу между каждым значением и средним 
# возводим в квадрат
# суммиреум и делим на ко-во наблюдений

distance = student_df['math score']- np.mean(student_df['math score'])
print(distance)

squared_distance = distance**2
print(squared_distance)

sum_squared_distance = np.sum(squared_distance)
print("sum_squared_distance =",sum_squared_distance)

variance = sum_squared_distance/(student_df['math score'].count()-1)
print("count - 1=",student_df['math score'].count()-1)
print("variance=",variance)

0       5.911
1       2.911
2      23.911
3     -19.089
4       9.911
        ...
995    21.911
996    -4.089
997    -7.089
998     1.911
999    10.911
Name: math score, Length: 1000, dtype: float64
0       34.939921
1        8.473921
2      571.735921
3      364.389921
4       98.227921
          ...
995    480.091921
996     16.719921
997     50.253921
998      3.651921
999    119.049921
Name: math score, Length: 1000, dtype: float64
sum_squared_distance = 229689.07899999997
count - 1= 999
variance= 229.91899799799796

In [19]:
distance1 = student_df['reading score']- np.mean(student_df['reading score'])
print(distance1)

squared_distance1 = distance1**2
print(squared_distance1)

sum_squared_distance1 = np.sum(squared_distance1)
print("sum_squared_distance =",sum_squared_distance1)

variance1 = sum_squared_distance1/(student_df['reading score'].count()-1)
print("count1 - 1=",student_df['reading score'].count()-1)
print("variance1=",variance1)

0       2.831
1      20.831
2      25.831
3     -12.169
4       8.831
        ...
995    29.831
996   -14.169
997     1.831
998     8.831
999    16.831
Name: reading score, Length: 1000, dtype: float64
0        8.014561
1      433.930561
2      667.240561
3      148.084561
4       77.986561
          ...
995    889.888561
996    200.760561
997      3.352561
998     77.986561
999    283.282561
Name: reading score, Length: 1000, dtype: float64
sum_squared_distance = 212952.439
count1 - 1= 999
variance1= 213.16560460460462

In [20]:
distance2 = student_df['writing score']- np.mean(student_df['writing score'])
print(distance2)

squared_distance2 = distance2**2
print(squared_distance2)

sum_squared_distance2 = np.sum(squared_distance2)
print("sum_squared_distance =",sum_squared_distance2)

variance2 = sum_squared_distance2/(student_df['writing score'].count()-1)
print("count2 - 1=",student_df['writing score'].count()-1)
print("variance2=",variance2)

0       5.946
1      19.946
2      24.946
3     -24.054
4       6.946
        ...
995    26.946
996   -13.054
997    -3.054
998     8.946
999    17.946
Name: writing score, Length: 1000, dtype: float64
0       35.354916
1      397.842916
2      622.302916
3      578.594916
4       48.246916
          ...
995    726.086916
996    170.406916
997      9.326916
998     80.030916
999    322.058916
Name: writing score, Length: 1000, dtype: float64
sum_squared_distance = 230677.084
count2 - 1= 999
variance2= 230.907991991992

In [21]:
st_dev = variance**0.5
print(st_dev)

15.16308009600945

In [22]:
st_dev_reading = variance1**0.5
print(st_dev_reading)

14.600191937252216

In [23]:
st_dev_writing = variance2**0.5
print(st_dev_writing)

15.19565701086965

In [16]:
variance_math = np.var(student_df['math score'],ddof=1)
variance_write = np.var(student_df['writing score'],ddof=1)
variance_read = np.var(student_df['reading score'],ddof=1)

st_dev_math = np.std(student_df['math score'],ddof=1)
st_dev_write = np.std(student_df['writing score'],ddof=1)
st_dev_read = np.std(student_df['reading score'],ddof=1)

print(variance_math, st_dev_math)
print(variance_write, st_dev_write)
print(variance_read, st_dev_read)

229.91899799799796 15.16308009600945
230.907991991992 15.19565701086965
213.16560460460462 14.600191937252216